body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    
}

#container {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;

}

#gameScreen {
    width: 750px;
    height: 428px;
    border: 1px solid black;
}

#bottom {
    width: 850px;
    height: 350px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#dice {
    border: 1px solid black;
   
}

#text {
    width: 600px;
    background-image: url('images/textBg.png');
    background-size:contain;
    background-repeat: no-repeat;
    
}

#playerStats {
    border: 1px solid black;
    width: 140px;
    border-radius: 20px;
    padding: 20px;
}

#playerStats table, td {
    border: 1px solid black;
    width: 100%;
    
}

#dice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
    
    
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#dice button {
    width: 75px;
   
}
#dice p {
   
    
}

#encounterGraphic {
    width: 750px;
    box-shadow: ;
}

#text p {
  padding-top: 25px;
  padding-left: 40px;
}

#healthBars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: red;
    font-size: 30px;
    font-weight: 700;
}


